/* 
body{
    background-color: rgb(220, 220, 220);

}

.mck-sidebox-content mck-box-content vis{
    height: 300px;
    font-weight: 100px;
} */

.mck-box-top {
        background-color: #15a1cc !important;
}
