/* Container Styling */
.student-dashboard {
  padding: 30px 20px;
  text-align: center;
  background: linear-gradient(to bottom, #f0f4ff, #d8e2ff);
  display: flex;
  justify-content: space-evenly;
  gap:15px;
}

/* Title Styling */
.dashboard-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #4b4f56;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}

/* Adding a decorative underline effect */
.dashboard-title::after {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #6c5ce7;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

/* Grid for Course Cards */
.dashboard-content {
  display:flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  justify-items: center;
}

/* No Courses Message */
.no-courses {
  font-size: 1.3rem;
  color: #6c757d;
  padding: 2rem;
}


/* Sidebar Styles */
.side-tools {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  max-width: 98vw;
  min-width: 400px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;  
  background:linear-gradient(to bottom, #f0f4ff, #d8e2ff);

::-webkit-scrollbar {
  width: 0;
}
}

.side-tools.open {
  transform: translateX(0);
}

.tools-content {
  overflow-y: auto;
}

.sidebar-toggle {
  position: absolute;
  top: 48vh;
  right: -23px;
  background: #00000082;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: ease 0.2s;
  font-size: 1.5rem;
}
.sidebar-toggle:hover{
  background: #000000f1;
}

/* Adjustments for Larger Screens */
@media (min-width: 768px) {
  .side-tools {
    position: static;
    transform: translateX(0);
    height: auto;
    flex-direction: row;
    box-shadow: none;
    padding: 0;
   }

  .sidebar-toggle {
    display: none;
  }
}
