html{
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}



::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
background-color:hsla(0, 0%, 50%, 0.629);
}
::-webkit-scrollbar-thumb {
background-color: #d6dee1;
}
::-webkit-scrollbar-thumb {
background-color: #d6dee1;
border-radius: 20px;
}
::-webkit-scrollbar-thumb {
background-color: #d6dee1;
border-radius: 20px;
border: 6px solid transparent;
background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
background-color: #b5c8cc;
cursor: pointer;
}


.mainwrap {
  overflow: hidden; /* prevents content from expanding beyond viewport width */
 /* ensures padding and border are within the width */
}





.common-btn {
  background-color:teal;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 95%;

  &:hover {
    background-color: rgb(0, 87, 87);
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}