/* General Styles */
.lnav {
  font-family: 'Poppins', sans-serif;
  color: #444;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-shadow: 4px 2px 8px rgba(0, 0, 0, 0.3) /* Shadow for text */
}

.logo h1 {
  display: flex;
  margin: 0;
}

.logo-img {
  margin-right: 8px;
  height: 60px;
}


.logo h1 {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  position: relative;
}

.navbar-light .navbar-nav .nav-link {
  margin: 0 8px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(36, 48, 53, 0.685);
  padding: 8px 16px;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover Effect */
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(20, 104, 230);
}

/* Sliding Underline */
.navbar-light .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: rgb(20, 104, 230);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navbar-light .navbar-nav .nav-link:hover::after,
.navbar-light .navbar-nav .nav-link.active::after {
  width: 100%;
}

/* Smooth Sliding Effect */
.navbar-light .navbar-nav {
  position: relative;
}

.navbar-light .navbar-nav .nav-item {
  margin: auto;
}

/* Optional Button Styling */
.btn {
  margin: 3px;
  border-radius: 30px;
}

.acc-pic{
  padding: 3px;
  border: 2px solid  rgb(1 114 235);
  border-radius: 50%;
  margin: 3px;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
