/* About Section */
.about {
  padding: 3rem 5%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.about-content,
.about-students,
.about-tutors,
.about-vision {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3rem;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #f9fafb;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
}

.about-content {
  flex-direction: column;
  align-items: flex-start;
}

.about h2,
.about h3 {
  font-weight: 600;
}

.about-content h2 {
  font-size: clamp(2rem, 5vw, 3rem); /* Dynamically scale between 2rem and 3rem */
  color: #2f3b52;
}

.about h3 {
  font-size: clamp(1.8rem, 4vw, 2.5rem); /* Dynamically scale between 1.8rem and 2.5rem */
  color: #2d3e50;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.about p {
  font-size: clamp(1.5rem, 3vw, 2rem); /* Dynamically scale between 1.5rem and 2rem */
  line-height: 1.8;
  color: #666;
}

.about ul {
  font-size: clamp(1.5rem, 3vw, 2rem); /* Dynamically scale between 1.5rem and 2rem */
  line-height: 1.8;
  color: #666;
}

.about ul li {
  margin-bottom: 0.8rem;
}

.about ul {
  list-style-type: disc;
  margin-left: 2rem;
}

/* Icon and Text Layout */
.about-icon {
  flex: 1;
  text-align: right; /* Align image to the right */
}

.title-logo {
  font-size: clamp(2rem, 5vw, 3rem); /* Dynamically scale logo font size */
}

.about-icon-student img,
.about-icon-tutor img,
.about-icon-vision img {
  width: 80%; /* Make images bigger and match paragraph size */
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  margin-right: 50px;
}

.about-text {
  flex: 1;
  padding-right: 2rem; /* Add some space between text and image */
}

/* Animation */
[data-aos] {
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

[data-aos].aos-animate {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .about-content,
  .about-students,
  .about-tutors,
  .about-vision {
    flex-direction: column; /* Stack sections vertically on smaller screens */
  }

  .about-icon {
    text-align: center; /* Center-align icons */
    margin-bottom: 2rem;
  }

  .about-icon img {
    width: 100%; /* Make images fill container width */
    max-width: 300px;
    margin-right: 0;
  }

  .about-text {
    padding-right: 0;
    text-align: center; /* Center-align text */
  }
}
